body {
	background-color: #ddd; /* Background color */
	color: #222;            /* Foreground color used for text */
	font-family: Helvetica; 
	font-size: 14px;
	margin: 0;              /* Amount of negative space around the outside of the body */
	padding: 0;             /* Amount of negative space around the inside of the body */
}
#anony {
	width: auto;
}
ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
ul li a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}
ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

/* =Area
-----------------------------------------------------------------------------*/
#container,
#install {
	margin: 0 auto;
	padding: 15px;
	width: 300px;	
}
	#install h1 {
		text-align: center;
		font-weight: bold;
		width: 100%;
		font-size: 1em;
		background: #fff;
		margin-bottom: 15px;
		padding: 2px 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

/* =Forms
-----------------------------------------------------------------------------*/
.anony-form {
	background: #fff;
	width: auto;
}
	.anony-form .checkbox input,
	.anony-form .checkbox label {
		float: none;
	}
	.anony-form .submit {
		width: auto;
	}
.input {
	margin: 5px 0;
}
	.input label {
		width: 125px;
		display: block;
		float: none;
		text-align: left;
		padding-right: 5px;
		padding-left: 5px;
		font-weight: bold;
	}
	.submit {
		text-align: right;
	}

/* =Items
-----------------------------------------------------------------------------*/
.item {
	margin: 2px;
	padding-right: 2px;
}
.no-items {
	padding: 0 10px;
}
.item-nav {
	margin: 0 10px;
	overflow: auto;
}
	.item-nav a {
		float: left;
		-webkit-border-radius: 4px;
		background: #E4EAFA;
		border: 1px solid #99B1ED;
		color: #2E4987;
		float: left;
		font-weight: bold;
		padding: 2px 5px;
		text-shadow: 0 1px 0 #FFFFFF;
		text-decoration: none;
		white-space: nowrap;
		padding-top: 7px;
		height: 21px;
	}
	.item-nav form {
		float: right;
	}

/* =Actions
-----------------------------------------------------------------------------*/
.mobile .actions {
	display: none;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	-webkit-border-radius:5px 5px 5px 5px;
	margin: 10px 2px;
	padding: 1px;
}
	.mobile .actions ul {
		margin: 0;
		overflow: auto;
	}
	.mobile .actions .notch {
		background: url(../img/layout/drop-notch.png) no-repeat;
		width: 21px;
		height: 7px;
		float: left;
		margin-left: 19px;
	}
	.mobile .actions ul li {
		float: left;
		text-align: center;
		width: 33%;
	}
	.mobile .actions ul li a {
		background: transparent;
		border: 0;
		margin: 0;
		padding: 2px 5px;
	}
/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	display: none;
}